<%= content_for :title do %> Inloggen <% end %>

<!--Log in form-->
<%= form_tag sessions_path do %>

    <!--Form fields w labels abova-->
    <div class="loginfield">
      <div id="label">
        <%= label_tag :email %></div>
        <%= email_field_tag :email, params[:email], autofocus: true %>
      </div>
    <div class="loginfield">
      <div id="label"><%= label_tag :password, "Wachtwoord" %></div>
      <%= password_field_tag :password %>
    </div>

    <!--Submit button group-->
    <ul class="button-group" >
      <li><%= submit_tag "Inloggen", class: "button tiny" %></li>
      <li><%= link_to "Nog geen account? Maak eerst een account", aanmelden_path, class: "button secondary tiny" %> </li>
    </ul>
    <!--END button group-->

<% end %>
<!--END login form-->