<h2>Account maken</h2>


<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
      <div class="error_messages">
        <p>Oeps! Er klopt iets niet :-( </p>
        <ul><% @user.errors.full_messages.each do |message| %>
            <small><li><%= message %></li></small>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div class="loginfield" style="padding-top: 10px">
    <div id="label"><%= f.label :email, autofocus: true %></div>
    <%= f.email_field :email %>
  </div>

  <div class="loginfield">
   <div id="label"> <%= f.label :password, "Kies wachtwoord" %> </div>
    <%= f.password_field :password %>
  </div>

  <div class="loginfield">
    <div id="label"><%= f.label :password_confirmation, "Herhaal wachtwoord" %></div>
    <%= f.password_field :password_confirmation %>
  </div>


  <ul class="button-group">
    <li><%= f.submit "Maak mijn account", class: "button tiny"%></li>
    <li style="margin-left: 5px"><small> of <%= link_to "log in", inloggen_path %></small></li>
  </ul> <!--  button-group end -->
<% end %>

<!-- TODO find way to stack button and link centered on small
<!--stack-for-small text-center-->
<!--small-centered stack-for-small  text-center-->