<h1>Account maken</h1>
<%= content_for :title do %> Inloggen <% end %>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
      <div class="error_messages">
        <p>Oeps! Er klopt iets niet :-( </p>
        <ul><% @user.errors.full_messages.each do |message| %>
            <small><li><%= message %></li></small>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div class="loginfield" style="padding-top: 10px">
    <div id="label"><%= f.label :email, autofocus: true %></div>
    <%= f.email_field :email %>
  </div>

  <div class="loginfield">
   <div id="label"> <%= f.label :password, "Kies wachtwoord" %> </div>
    <%= f.password_field :password %>
  </div>

  <div class="loginfield">
    <div id="label"><%= f.label :password_confirmation, "Herhaal wachtwoord" %></div>
    <%= f.password_field :password_confirmation %>
  </div>


  <ul class="button-group">
    <li><%= f.submit "Maak mijn account", class: "button tiny"%></li>
    <li> <%= link_to " of log meteen in als je al een account hebt", inloggen_path, class: "button secondary tiny" %></li>
  </ul> <!--  button-group end -->
<% end %>