<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Fonts & icons -->
    <link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great|Raleway:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
    <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <!--Required for Foundation-->
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>

  <body>
    <header>
      <title><%= content_for?(:title)  %>PIEP </title>
      <%= render 'layouts/navigation' %>
    </header>

    <!--Main container with yielded content page and messages-->
    <div id="playfield">
      <%= yield %>
      <div id="messages">
        <% flash.each do |name, message| %>
            <%= content_tag :div, message, id: "flash#{name}" %>
        <% end %>
      </div>
    </div>
    <!-- Close main container "Playfield" -->

  </body>

</html>